@using MaleFashionApp.ViewModels

@{
    var shoppingViewModel = (ShoppingViewModel)Model;
}

<h6>@shoppingViewModel.Shopping.Value</h6>
<ul>
    <li><a href="#">@shoppingViewModel.ClothStore.Value</a></li>
    <li><a href="#">@shoppingViewModel.TrendShoes.Value</a></li>
    <li><a href="#">@shoppingViewModel.Accessories.Value</a></li>
    <li><a href="#">@shoppingViewModel.Sales.Value</a></li>
</ul>