@model MaleFashionApp.Models.ShoppingTwoViewModel

<h6>@Model.Shopping.Value</h6>
<ul>
    <li><a href="#">@Model.ContactUs.Value</a></li>
    <li><a href="#">@Model.PaymentMethods.Value</a></li>
    <li><a href="#">@Model.Delivery.Value</a></li>
    <li><a href="#">@Model.ReturnExchanges.Value</a></li>
</ul>